body {
    font-family: Arial, sans-serif;
    text-align: center;
}



h1 {
    font-size: 200px;
    font-family: Roman;
    margin-top: 100px;
    color: #464137;
}

.slider {
    margin-top: 20px;
    position: absolute;
    top: 40%;
    left: 40%;

}

img {
    width: 800px;
    height: auto;
    border-radius: 8px;
}